*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------------logo section--------------- */
html{
    scroll-behavior: smooth;
}
.logo-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 163, 163);
    padding:1% 0%;
    flex-direction: column;
    z-index: 10;
}
.logo-section .second{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logo-section .second .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-section .logo p{
    color: white;
}
.logo-section .second .logo img{
    width: 150px;
    height: 150px;
}
.logo-section .second .english{
    width: 25%;
}
.logo-section .second .english p{
    color: rgb(230, 230, 230);
    font-size: 1rem;
}
.logo-section .english p, .logo-section .bengali p{
    margin-left: 7%;
    font-size: 1.3rem;
    font-weight: bold;
}

.logo-section .first{
    font-size: 3rem;
    margin: 8px;
    text-shadow: 3px 3px 3px black;

    color: blue;
}
/* ----------------nevBar section------------------- */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: rgb(9, 170, 250);

     z-index: 100;
     

}
.header .head2{
    display: flex;
    width: 100%;
    margin-left: 2%;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    overflow-x: scroll;
    /* margin-left: -10%; */
}
.header .head2::-webkit-scrollbar{
    display: none;
}
.header .head2 li{
    /* min-width: 20px; */
    list-style-type: none;
    padding: 5px 0%;
    /* padding: 10px 30px; */
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
    font-weight: bold;

}
.fa-bars{
    position: fixed;
    top: 0px;
    left: 8px;
    padding: 8px;
    font-size: 1rem;
    color: blue;
    background-color: white;
    border-radius: 50%;
    margin-left: 4px;
    display: none;
    z-index: 2;
    opacity: 0;
}
.header .head2 li a{
    color: black;
    text-decoration: none;
    padding: 7px;
    /* border-radius: 3px; */
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;

    font-weight: bold;
    transition: all .4s ease-in .2s ;

}
.header .head2 .fa-xmark{
    display: none;
    background-color: blue;
    margin-left: 75%;
    margin-bottom: 10%;
    color: white;
    font-size: 1.3rem;
    padding: 7px;
    border-radius: 50%;

}
.header .head2 li::before{
    content: "";
    background-color: rgb(5, 5, 164);
    position: absolute;
     width: 0%; 
    transition: all .5s;
    height: 3px;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
.header .head2 li:hover::before{
    width: 100%;
}
.header .head2 li:hover a{
    background-color: rgba(5, 5, 164);
    color: white;
    
}
.header .head2 li::after{
    content: "";
    background-color: rgb(5, 5, 164);
    position: absolute;
     width: 0%; 
    transition: all .5s;
    height: 3px;
    top: 0px;
    right: 0px;
    
    text-align: center;
}
.head2 li:hover::after{
    width: 100%;
}
.header .head2 li .active{
    color: white;
}
.header .head2 li .active{
    color: white;
}
.marquee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
    /* position: absolute;
    top: 0px;
    width: 100%;
    left: 0px; */
}
.left{
    width: 15%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

    background-color: rgb(21, 21, 226);
    color: aliceblue;
    height:30px;

}
.middle{
    /* flex-basis: 70%;
     */
     width: 70%;
    /* margin-top: -5%; */
    background-color: aliceblue;
    height: 30px;
    color: rgb(255, 119, 0);
    font-size: 1.3rem;
    font-weight: bolder;
}
.right{
    width: 30%;
    
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 7% 100%, 0 52%);

    background-color: rgb(21, 21, 226);
    color: aliceblue;
    height:30px;
}
/* ----------placement design------------------- */
.placementTitle{
    text-align: center;
    /* width: 100%; */
    /* margin: 3px auto; */
    font-size: 3rem;
    color: rgb(249, 249, 252);
    
    font-weight: bolder;
}
.span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(9, 170, 250),rgb(18, 6, 252));
    margin-top: 3px;
}
.span i{
    margin: 1rem;
    font-size: 3rem;
    color: white;
}
.placements{
    /* margin: 20px auto; */
    /* background-color: rgb(18, 6, 252); */
    background-image: linear-gradient(to right,rgba(18, 6, 252,.8), rgba(9, 170, 250,.7));

    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: blue; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    position: relative;
    padding: 4rem;
}
.placements .box{
    width: 280px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to right, rgb(9, 170, 250),rgb(18, 6, 252));

    border-radius: 30px;
    position: relative;
    color: white;
    padding-top: 1.5rem;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 5px 5px 5px black;
}
.placements .box:hover{
    transform: translateY(-10%);
}
.placements .box div{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid rgb(179, 172, 172);
    position: absolute;
    top: -12%;
}
.placements .box div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
/* .placements .box div .innerNox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, .8);
} */
.placements .box h1{
    font-style: 1.5rem;
}
.placements .box h2{
    font-size: 1rem;
}
.placements .box h3{
    font-size: 1.6rem;
}
.placements .box p{
    margin-bottom: -.7rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: 400px; */
    background-color: rgb(26, 25, 25);
    color: white;
    flex-wrap: wrap;
    padding: 5% 1%;
    gap: 3%;
    row-gap: 2%;

}
.footer .fourth iframe{
    width: 300px;
    height: 300px;

}
.footer  h1{
    font-size: 2rem;
    margin: 4% 0;
} 
.footer p{
    font-size: 1.2rem;
    color: rgb(179, 175, 175);
}
.footer  i{
    padding: 7px;
}
.footer .first{
    width: 20%;
}
.footer .first i{
    font-size: 1.2rem;
    padding: 5px;
}
.footer .second i{
    background-color: rgb(179, 175, 175);
    color: black;
    padding: 2px;
    font-size: .7rem;
    margin-right:5px ;
    border-radius: 50%;
}
.footer .second p{
    margin: 5px 0;
}
.footer .third .social-media{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5%;
}
.footer .third .social-media i{
    width: 60px;
    height: 40px;
    background-color: rgb(179, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 7px;
    color: black;
}
.footer .third .social-media i:hover{
    transform: scale(120%);
}
.developerName{
    width: 100%;
    background: rgb(26, 25, 25);
    display: flex; 
    align-items: center;
    justify-content: center;
}
.developerName div{
    width: 60%;
    color: white;
    background-color: rgb(179, 175, 175);
        clip-path: polygon(12% 0, 89% 0, 100% 100%, 0% 100%);
        padding: 7px;

}
.developerName div h1{
    text-align: center;
    color: blue;
}
.developerName div h1 span{
    color: red;
    /*background: red;*/
    font-size: 1.5rem;
}
@media screen and (max-width: 550px) {
    /* ---------------head sectione responsive--------------------- */
    .header{
        position: fixed;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 10px;
        top: 0px;
        height: 100vh;
        left: -40%;
        background-color: rgba(7, 214, 251);
         z-index: 100;
         transition: all .5s;
    
        }
        .header .head2{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 6%;
            
        }
        .header .head2 li{
        
            list-style-type: none;
            padding: 10px 10px;
            font-size: 1rem;
            position: relative;
            cursor: pointer;
            font-size: .4rem;
            width: 90%;
            font-weight: bold;
            margin: 7% 0;
            border-radius: 5px;
            transition: all .4s ease-in .2s ;
    
        }
        .header .head2 li a{
            font-size: 1rem;
    text-shadow: 1px 1px 2px black;

        }
        .header .head2 li:hover{
            background-color: rgba(5, 5, 164);
            color: white;
            
        }
        .header .head2 .fa-xmark{
            display: block;
        }
        .logo-section .first{
            font-size: 1.7rem;
            margin: 8px;
        text-shadow: 2px 2px 2px black;

        }
        .logo-section .second .logo img{
            width: 100px;
            height: 100px;
        }
        .logo-section .second .english{
            width: 45%;
        }
        .logo-section .second .english p{
            font-size: .8rem;
        }
    /* ---------placement responsive design -------------------- */
    .placementTitle{
        font-size: 1.5rem;
        
    }
    .span i{
        font-size: 1.5rem;
    }
    .placements{
        /* margin: 20px auto; */
        width: 100%;
        display: flex;
        align-items: center;
        /* background-color: blue; */
        justify-content: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 3rem;
        position: relative;
        padding: 3rem;
    }
    .placements .box{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7px;
        background-image: linear-gradient(to right, rgb(9, 170, 250),rgb(18, 6, 252));
    
        border-radius: 20px;
        position: relative;
        color: white;
        box-shadow: 5px 5px 5px black;
    }
    .placements .box div{
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 2px;
        border: 3px solid rgb(179, 172, 172);
        position: absolute;
        top: -12%;
    }
    .placements .box h1{
        font-style: 1rem;
    }
    .placements .box h2{
        font-size: .9rem;
    }
    .placements .box h3{
        font-size: 1.1rem;
    }
    /* ----------------------footer desigh ------------------- */
    .footer .fourth iframe{
        width: 220px;
        height: 220px;
    

    }
    .footer .fourth{
        margin-top: 3%;
    }
    .footer  h1{
        font-size: 1.4rem;
        margin: 4% 0;
    } 
    .footer p{
        font-size: .9rem;
        color: rgb(179, 175, 175);
    }
    .footer .first{
        width: 70%;
    }
    .footer .third .social-media{
        gap: 4%;
    }
    .footer .third .social-media i{
        width: 45px;
        height: 30px;
        background-color: rgb(179, 175, 175);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        border-radius: 7px;
        color: black;
    }
    .fa-bars{
        display: block;
        opacity: 1;
    }
    .developerName div h1{
    text-align: center;
    font-size: .9rem;
    color: blue;
}
    .developerName div{
    width: 95%;
    color: white;
    background-color: rgb(179, 175, 175);
        clip-path: polygon(12% 0, 89% 0, 100% 100%, 0% 100%);
        padding: 7px;

}
}